body, html {
  height: 100%;
}
.bg {
  background-image: url("./Images/Stadium.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}
.navbar-brand{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  position: absolute !important;
  left: 32%;
  top: 250px !important;
  bottom: 1px !important;
  text-align: center !important;
}
#playerOne{
margin-right: 10%;
/* background-image: url("Poke Website Images/firebackground.png"); */
font-weight: bold;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#playerTwo{
/* background-image: url("Poke Website Images/icebackground.png"); */
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: bold;
}
.pokemon{
display: flex;
z-index: 5;
justify-content: space-around;
position: absolute;
bottom:20%;
right: 45%;
width: 40%;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: bold;
}

 #attackBoxContainer {
  display: flex;
  flex-direction: column;
  background-color:coral;
}

.Logo{
  display: flex;
  justify-content: center;

}